@charset "UTF-8";
.list, .nav, .contacts, .address-list, .social .footer-social, .specialization, .features, .team, .social-item, .clients-list, .menu-button, .img-work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

.specialization img, .section-team img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-btn, .label-checkbox, .modal-btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*%link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

%hidden-header {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0px;
  border: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto $title-text-color"), local("Roboto-$title-text-color"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: #ffffff;
  color: #757575;
  margin: 0px;
}

body.modal-open {
  overflow: hidden;
}

/*.link {
  @extend %link;
}*/
/*Style for index.html*/
html {
  box-sizing: border-box;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*outline: 2px solid red;*/
}

h1,
h2,
h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #ececec;
}

.header-items {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-items {
    padding: 10px 0px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header-items {
    padding: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 44px;
    border-top: 1px solid #ececec;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .nav-contacts.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    position: initial;
    display: flex;
    width: initial;
    box-shadow: none;
    border-top: none;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav .item {
    text-align: center;
    margin-bottom: 40px;
  }
  .nav .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item:first-child {
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .item:first-child {
    margin-left: 85px;
  }
}

@media screen and (max-width: 767px) {
  .nav .item.current {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item.current {
    margin-bottom: 0px;
  }
}

.nav .link {
  position: relative;
  display: flex;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav .link {
    display: inline-block;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.nav .link:hover, .nav .link:focus {
  color: #2196f3;
}

.nav .link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.nav .link.current::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .nav .link.current::after {
    top: calc(100% + 8px);
  }
}

@media screen and (min-width: 768px) {
  .nav .link.current::after {
    top: initial;
  }
}

.nav .link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
    margin-left: 84px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    padding: 0;
    margin-left: 305px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts .item + .item {
    margin-left: 30px;
  }
}

.contacts-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .contacts-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .contacts .item .link {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts .item .link:last-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts .item .link:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts .item .link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts .item .link {
    margin-bottom: 0px;
  }
}

.contacts .link {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts .link {
    justify-content: center;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts .link {
    justify-content: left;
  }
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

.mobile-menu-button {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 767px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button .icon-cross {
  display: none;
}

.mobile-menu-button.is-open .icon-cross {
  display: block;
}

.mobile-menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg480x1.jpg);
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .hero {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg480x2.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    margin-top: 80px;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg768x1.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg768x2.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    margin-top: 80px;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg1200x1.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg1200x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-button {
  padding: 10px 32px;
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*.primary-button {
  @extend %centered-flex;

  text-align: center;
  min-width: 200px;
  min-height: 50px;
  margin: auto;
  padding: 10px 32px;
  outline: 0;

  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $top-nav-color;

  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 4px;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  & {
    color: $top-nav-color;
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $top-nav-color;
    background-color: $accent-color;
    cursor: pointer;
  }
}*/
/*modal screen*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translateX(-50%);
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  max-width: 450px;
  width: 93%;
  min-height: 609px;
  background: #ffffff;
  padding: 40px;
  transform: translate(-50%, -15%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover, .modal:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    min-width: 528px;
    min-height: 581px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    top: 208px;
    width: 100%;
  }
}

.modal-title {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.icon-x {
  display: flex;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-x:hover, .icon-x:focus {
  fill: #2196f3;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 6px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
}

/*modal form*/
.form {
  display: flex;
  flex-direction: column;
  /*width: 448px;
  height: auto;*/
}

.form-field {
  position: relative;
  display: block;
  width: 100%;
  /* 448px*/
  height: auto;
  margin-bottom: 28px;
}

.form-field:nth-child(4n) {
  margin-bottom: 0px;
}

.form-field > .comments {
  position: relative;
  display: block;
  /*width: 448px;*/
  width: 100%;
  height: 120px;
  font-family: inherit;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(-40px) translateX(-50px);
  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  /*448px*/
  height: auto;
  margin-top: 0;
  padding: 10px 20px;
  padding-left: 42px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
  display: inline-block;
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.form-field:hover > .icon-modal {
  fill: #2196f3;
}

.form-field:focus-within > .icon-modal {
  fill: #2196f3;
}

.comments {
  width: 448px;
  height: auto;
  resize: none;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comments:hover, .comments:focus {
  border: 1px solid #2196f3;
}

.text-comment {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: 0;
  margin-bottom: 4px;
  transform: translateY(-85px) translateX(-50px);
  transition: transform 250ms linear;
}

.label-checkbox {
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .label-checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (max-width: 1199px) {
  .label-checkbox {
    font-size: 12px;
    line-height: 1.16;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 0;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  border-color: transparent;
  background: #2196f3;
  border-radius: 2px;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .icon-checkbox {
    max-width: 16px;
    min-height: 15px;
    width: 100%;
  }
}

.modal-btn-send {
  text-align: center;
  margin: auto;
  padding: 10px 55px;
  outline: 0;
  min-width: 200px;
  min-height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover, .modal-btn-send:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.link-checkbox {
  margin-left: 4px;
  color: #2196f3;
}

.address {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .address {
    padding-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    width: 50%;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    width: 50%;
  }
}

.address-map {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address .logo {
  color: #ffffff;
}

.address-map .item {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .address-map .item {
    margin-bottom: 8px;
  }
}

.address-map .item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .address-map .item {
    margin-bottom: 9px;
  }
}

.address-map .item:last-child {
  margin-bottom: 0;
}

.address-map .item:hover, .address-map .item:focus {
  color: #2196f3;
}

.address-list .item .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list .item .link:hover, .address-list .item .link:focus {
  color: #2196f3;
}

.address-contact {
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .address-contact {
    padding-top: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .address-contact {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .address-contact {
    width: 50%;
    margin: 0;
  }
}

.social {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    width: 50%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    width: calc((100% - 60px) / 4);
    margin: 0;
    padding: 0;
  }
}

.social .footer-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.social .footer-social {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social .footer-social {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .social .footer-social {
    justify-content: inherit;
  }
}

.social .item {
  margin-right: 10px;
}

.social .item:last-child {
  margin-right: 0px;
}

.social .link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link:hover, .social .link:focus {
  background-color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: inherit;
    height: 252px;
  }
}

.footer-list {
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address-social {
    display: flex;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-social {
    display: contents;
    margin-bottom: 0px;
  }
}

.subscribe {
  width: calc((100% - 30px) / 2);
}

@media screen and (max-width: 1199px) {
  .subscribe {
    width: 100%;
  }
}

.subscribe-header {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form:focus-within .subscribe-input {
  border-color: #2196f3;
  outline: none;
}

.subscribe-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-right: 12px;
    margin-bottom: 0px;
    max-width: 358px;
  }
}

.button-subscribe {
  padding: 10px 28px 10px 29px;
  display: inline-flex;
  align-items: center;
  max-width: 200px;
  max-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  fill: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
}

.button-subscribe .text {
  margin-right: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*.header-site {
  position: relative;
  max-height: 80px;
  background-color: $top-nav-color;
  border-bottom: 1px solid $border-bottom;

  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}*/
/* section*/
@media screen and (max-width: 1199px) {
  .section-specialization {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-specialization {
    display: block;
  }
}

.specialization {
  padding-bottom: 94px;
  display: flex;
}

.specialization-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.specialization-content {
  position: absolute;
  bottom: 0px;
  padding: 27px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.specialization .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 30px) / 3);
  display: block;
  justify-content: center;
}

.specialization .item:last-child {
  margin-right: 0;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 479px) {
  .features .item {
    margin-bottom: 20px;
  }
  .features .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .features .item {
    margin-bottom: 30px;
  }
  .features .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .features .item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .features .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features .item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .features .item:nth-child(2n) {
    margin-right: 30px;
  }
  .features .item:last-child {
    margin-right: 0;
  }
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: initial;
  }
}

.features-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-team {
  font-family: "Roboto", sans-serif;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .section-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team .title {
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .section-team .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.section-team .hero-title {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  color: #212121;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team .item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  margin-bottom: 30px;
}

.team .item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .team .item:nth-child(2n) {
    margin-right: 0;
  }
  .team .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team .item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .team .item:nth-child(2n) {
    margin-right: 30px;
  }
  .team .item:last-child {
    margin-right: 0;
  }
}

.hero-block {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  background: #ffffff;
}

.hero-work {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.social-item {
  display: flex;
  justify-content: center;
}

.social-item .social-list {
  margin-right: 10px;
}

.social-item .social-list:last-child {
  margin-right: 0px;
}

.social-list .social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-link:hover, .social-list .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 479px) {
  .clients-list .item {
    margin-bottom: 20px;
  }
  .clients-list .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .clients-list .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
  .clients-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-list .item {
    width: calc((100% - 60px) / 3);
  }
  .clients-list .item:nth-child(2n) {
    margin-right: 30px;
  }
  .clients-list .item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .clients-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list .item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
  .clients-list .item:nth-child(3n + 3) {
    margin-right: 30px;
  }
  .clients-list .item:last-child {
    margin-right: 0;
  }
}

.clients-list .link {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover,
.clients-list .link :focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .title-portfolio {
    margin-top: 120px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .title-portfolio {
    margin-top: 140px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .title-portfolio {
    margin-top: 140px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .menu-button .item:not(:nth-last-child(-2n + 3)) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button .item {
    margin-bottom: 15px;
  }
  .menu-button .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: flex;
    margin-bottom: 30px;
    margin-top: 60px;
    justify-content: center;
  }
}

.menu-button .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .menu-button .item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-button {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.title-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover, .title-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.img-work {
  display: flex;
  flex-wrap: wrap;
  /*& img {
    @extend %image;
  }*/
}

.img-work .portfolio-meta {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.img-work .title-work {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
}

.img-work .type-work {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .img-work .item {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .img-work .item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .img-work .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .img-work .item:nth-child(2n) {
    margin-right: 0;
  }
  .img-work .item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .img-work .item {
    width: calc((100% - 60px) / 3);
  }
  .img-work .item:nth-child(2n) {
    margin-right: 30px;
  }
  .img-work .item:nth-child(3n) {
    margin-right: 0px;
  }
  .img-work .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.img-work .link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-work .link:hover, .img-work .link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-actions {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background: #2196f3;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-work .link:hover .portfolio-actions,
.img-work .link:focus .portfolio-actions {
  opacity: 1;
  transform: translateY(0%);
}
/*# sourceMappingURL=portfolio.css.map */