$primary-text-color: #ffffff;
$title-text-color: #757575;
$accent-color: #2196f3;
$hero-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$head-text-color: #212121;
$top-nav-color: #ffffff;
$icon-color: #afb1b8;
$button-color: #ffffff;
$border-portfolio-card: #eeeeee;
$border-bottom: #ececec;
$footer-social-link: rgba(255, 255, 255, 0.1);
$overlay-color: rgba(33, 150, 243, 0.9);
$border: rgba(255, 255, 255, 0.3);
$box-shadow: rgba(0, 0, 0, 0.15);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-family: "Roboto", sans-serif;
$logo-font-family: "Raleway", sans-serif;

$font-size: 14px;
$line-height: 1.71;
$letter-spacing: 0.03em;
